
body{font-size: 1.6rem; line-height: 1.2;}
.inner{max-width: 1340px; margin: 0 auto; padding: 0 20px;}
.inner img{text-align: center; width: 100%;height: 100%; object-fit: cover;}
 #wrap #main{ background:#fff; overflow: hidden;}

#footer{font-size: 16px;  margin: 0 auto; text-align: center;margin-top: 40px;}